@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Roboto:wght@400;500;700;900&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'sans-serif';
}

header{
    padding:25px;
    background-color: rgb(173, 172, 172);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

.logo-barbearia-alura{
    height: 100px;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-transform: uppercase;  
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 455px){

    header{
        display: block;
        text-align: center;
    }
    .menu{
        flex-direction: column;
        text-align: center;
    }    
}

.img-header{
    width: 100%;
    height: 530px;
}

.sessao-1{
    background-color: #CCCCCC;
    text-align: center;
    padding: 32px 25px;
    line-height: 20px;
    font-weight: 500;
}

.missao{
    font-size: 20px;    
}

.missao strong{
    color: rgb(255, 0, 0);
}
h3{
    text-align: center;
    
}
.sessao-2{
    display: flex;
    padding: 15px;
    text-align: center;    
}

.sessao-2 div{
    padding: 15px;
}

.img-body{
    width: 50%;
}

a{
    width: 150px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}


a{
    text-decoration: none;
    color: black;
    padding: 5px;
}
a:hover{
    color:chocolate;
    transition: .3s;
}

.menu li{
    padding-left: 25px;
}

.produtos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 550px;
}

.card-produto{
    border: 2px solid black;
    border-radius: 15px;
    margin: 35px;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    width: 250px;
    height: 450px;
    max-width: 300px;
}

.card-produto:hover{
    height: 460px;
    width: 260px;
    border-color: chocolate;
    color: chocolate;
    transition: .1s;
}

.descricao{
    font-size: 16px;
    font-weight: 500;
}

.valor{
  font-weight: 700;
  font-size: 24px;
}

footer{
    background-color: #CCCCCC;
    text-align: center;
    padding: 32px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.main-contato{
    margin-bottom: 16px;
    display: flex;
    flex-direction:row;
}
.formulario-de-contato{
    width: 98%;
    border-right: 1px solid black;
}

.formulario-de-contato h1{
    text-align: center;
}

.contato-whatsapp{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: space-between;  
}

.icon-whatsapp{
    font-size: 144px;
    color: rgb(255, 255, 255);
    border-radius: 16px;
    padding: 32px 52px;
    background: linear-gradient(90deg, rgb(11, 68, 6) 0%, rgba(9,121,18,1) 35%, rgb(11, 189, 17) 100%);
}

.contato-whatsapp p{
    font-size: 12px;
}

.contato-whatsapp h1{
    text-align: center;
}

form{
    display: flex;
    flex-direction:column;
}

label{
    font-size: 14px;
    margin-left: 8px;
}
.input{
    max-width: 400px;
    height: 25px;
    margin: 8px;
    outline: none;
    border: none;
    background: transparent;
    border: 1px solid black;
    border-radius: 4px;
}

#mensagem{
    margin: 8px;
    background: transparent;
    border: 1px solid black;
    border-radius: 4px;
    max-width: 400px;
}

select{
    max-width: 400px;
    height: 25px;
    margin: 8px;
    outline: none;
    border: none;
    background: transparent;
    border: 1px solid black;
    border-radius: 4px;
    align-self: center;
}

.btn{
    max-width: 400px;
    height: 25px;
    margin: 8px;
    outline: none;
    border: none;
    background: transparent;
    border: 1px solid black;
    border-radius: 4px;
    align-self: center;
}
